.skills {
  background: #008073;
  color: white;
  padding: 20px 50px;
  font-size: 30px;
  font-family: sans-serif;
}

.skills-body {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 900px;
  justify-content: center;
}

.skill-name {
  text-align: center;
  padding: 10px 0;
  font-weight: 600;
}

.skill-img {
  height: 150px;
}

.img-div {
  text-align: center;
  width: 150px;
}

.single-skill {
  margin: 20px;
}

@media only screen and (max-width: 700px) {
  .skills {
    text-align: center;
  }
}

@media only screen and (max-width: 425px) {
  .skill-img {
    height: 80px;
  }

  .img-div {
    width: 80px;
  }

  .skill-name {
    width: 80px;
  }
}
