.skills {
  background: #008073;
  color: white;
  padding: 20px 50px;
  font-size: 30px;
  font-family: sans-serif;
}

.skillsBody {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 900px;
  justify-content: center;
}

.skillName {
  text-align: center;
  padding: 10px 0;
  font-weight: 600;
}

.skillImg {
  height: 150px;
}

.imgDiv {
  text-align: center;
  width: 150px;
}

.singleSkill {
  margin: 20px;
}

@media only screen and (max-width: 700px) {
  .skills {
    text-align: center;
  }
}

@media only screen and (max-width: 425px) {
  .skillImg {
    height: 80px;
  }

  .imgDiv {
    width: 80px;
  }

  .skillName {
    width: 80px;
  }
}
