/* @import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap'); */
/* 'Permanent Marker' */
@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');
/* 'Rock Salt' */

/* @import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap'); */
/* 'Sriracha' */

/* @import url('https://fonts.googleapis.com/css?family=Delius&display=swap'); */
/* 'Delius' */

html {
  scroll-behavior: smooth;
}

.intro > a {
  text-decoration: none;
}

.me-section {
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}

.pic {
  width: 100%;
  margin: 0;
}

.pic-title {
  color: #fff;
  padding: 25px 0 0 2.2vw;
  font-size: 2.2vw;
  font-family: 'Rock Salt', sans-serif;
  position: absolute;
  top: 8px;
  left: 16px;
  font-weight: 100;
}

.create-things {
  background: #008073;
  padding: 0 10px;
}

.make-diff {
  border-bottom: 5px solid #009688;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 992px) {
  .pic-title {
    background: rgba(0, 0, 0, 0.3);
  }

  .change-lives {
    color: #008073;
    font-size: 40px;
    font-family: 'Rock Salt', sans-serif;
    position: absolute;
    top: 20%;
    right: 15%;
    padding: 5px;
  }

  .change-lives div {
    width: 125px;
    line-height: 1.3em;
  }

  .me-section {
    height: 100%;
    margin-bottom: -4px;
  }

  #about {
    margin-top: 0;
  }
}

@media only screen and (max-width: 500px) {
  .change-lives {
    color: #008073;
    font-size: 30px;
    font-family: 'Rock Salt', sans-serif;
    position: absolute;
    top: 25%;
    right: 3%;
    padding: 5px;
  }
}
