.about {
  background: #008073;
  color: white;
  padding: 20px 50px;
  font-size: 30px;
  font-family: sans-serif;
}

.aboutBody {
  background: lightgray;
  padding: 50px;
  font-weight: 400;
  margin: 0 auto;
}

.aboutIntro {
  border-left: 5px solid #51a38d;
  color: #51a38d;
  padding: 5px 0 5px 20px;
  font-size: 125%;
  margin-bottom: 20px;
}
