.skill {
  margin: 20px;
  flex-grow: 1;
  width: 350px;
}

.skill-container {
  display: flex;
}

.skill-title {
  font-weight: 900;
  font-size: 2em;
  margin: auto 10px;
}

.skill-notes {
  font-family: Roboto, cursive;
  font-size: 20px;
}

@media only screen and (max-width: 500px) {
  .skill-title {
    font-size: 1.5em;
  }
}
